.App {
  min-height: 100%;
  text-align: center;
  padding-top: 5%;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 5%;
  background-image: url("resources/graphics/background_@2X.png");
  background-repeat: repeat;
  font-family: 'Arial', 'Cambria', 'Calibri', 'Georgia', sans-serif;
}

.App>* {
  flex-basis: 100%;
}

.algolia-logo {
  height: 2vw;
  padding-right: 1vw;
}

.title {
  font-size: 2vw;
  font-weight: bold;
  align-self: flex-start;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.center {
  justify-content: center;
  align-items: center;
  align-self: center;
}

.no-wrap {
  flex-wrap: nowrap;
}

.result-stats {
  text-align: left;
  position: relative;
  padding-left: 1.25vw;
  padding-top: 1.25vw;
}

.search-count {
  font-size: 1.75vw;
  font-weight: 500;
}

.search-time {
  font-size: 1.3vw;
  font-weight: lighter;
}

.flex-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-content: left;
  justify-content: space-between;
}

.sidebar {
  width: 30%;
  background-color: white;
}

.result-list {
  width: 69.8%;
}

.search {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.search-container {
  background-color: #33678B;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

form {
  min-width: 100%
}

input, button {
  border-radius: .5vw;
  font-size: 1.5vw;
  margin: 0.5%;
  min-width: 92%;
  height: 4vw;
  box-sizing: border-box;
  align-self: center;
  padding: 1vw;
  border: none;
  color: black;
}

button {
  background-color: #4A96C1;
  color: white;
  margin: 1vw;
}

button:hover, button:active {
  cursor: pointer;
  background-color: lightgrey;
  color: black;
}

.result-list {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.result-img {
  width: 10vw;
  height: 10vw;
  border-radius: .5vw;
  margin: 1vw;
}

.result {
  margin: 1vw;
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.result:hover, .result:active {
  box-shadow: .25vw .25vw .15vw #33678B;
  border-radius: 1vw;
  background-color: #F3F5FE;
}

.result-title {
  align-self: flex-start;
  padding-top: 1vw;
  font-size: 2vw;
}

a {
  text-decoration: none; color: black;
}

.result-stars-count {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  color: #F8B99C;
  padding-top: 1vw;
}

.star-container {
  display: flex;
  margin-left: 1vw;
  margin-right: 1vw;
  align-items: center;
  justify-content: left;
}

.result-rating {
  font-size: 1.75vw;
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  align-items: left;
  margin-top: 1vw;
}

.star {
  height: 1.75vw;
  width: 1.75vw;
  max-width: 100%;
  max-height: 100%;
}

.light-text {
  font-size: 1.5vw;
  color: #B0B0B0;
}

.result-description {
  padding-top: 1vw;
}

.cursor {
  cursor: pointer;
}

.filter-type {
  padding: .25vw;
  font-size: 1.5vw;
  border-radius: .5vw;
}

.filter-type:hover, .filter-type:active {
  cursor: pointer;
  background-color: #4A96C1;
  color: white;
}

.flex-spacebetween {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
}

.container {
  text-align: left;
  margin: 1vw;
}

.rating {
  transition: all .2s ease-in-out;
  transform-origin: left bottom;
}

.rating:hover, .rating:active {
  cursor: pointer;
  transform: scale(1.1);
}

.rating-selected {
  margin: .15vw;
  animation-name: spin;
  animation-duration: 2500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.active {
  transform: scale(1.1);
  box-shadow: .15vw .15vw .025vw #F3F5FE;
  background-color: #F3F5FE;
  border-radius: .5vw;
  color: black;
}

.loader {
  margin-top: 8vw;
  align-self: center;
  border: 1vw solid #33678B;
  border-top: 1vw solid #4A96C1;
  border-radius: 50%;
  width: 14vw;
  height: 14vw;
  animation: spin 2s linear infinite;
}
